<table id="stockData">
  <thead>
    <tr>
      <td id="tableRowA1">Stock Symbol</td>
      <td id="tableRowA1">Recommendation</td>
      <td id="tableRowG1">Profit $ Amount</td>
      <td id="tableRowG1">Last Price</td>
      <td id="tableRowG1">Profit target</td>
      <td id="tableRowG1">Stop</td>
      <td id="tableRowG1">Trailing Stop</td>

    </tr>
  </thead>
    <tr>
<td class="tableRowA">  {{ tickr }}</td>
<td class="tableRowA">{{ recommend }}</td>
<td class="tableRowA"  id='changeColor'>{{ profitAmount }}</td>
<td class="tableRowA">{{ lastPrice }}</td>
<td class="tableRowA">{{ profitTarget }}</td>
<td class="tableRowA">{{ stopValue }}</td>
<td class="tableRowA">{{ trailValue }}</td>

        </tr>
      </tbody>
    </table>
